*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 80%;
    height: 500px;
    background-color: blueviolet;
}

.box{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    border: 2px solid black;
}